In [1]:
#Task 2 - Superstore_USA
1 . Load this data in sql and in pandas with a relation in sql 
2 . While loading this data you dont have to create a table manually. You can use any automated approach to create a table and load a data in bulk in table 
3 . Find out how return that we ahve recived and with a product id 
4 . try  to join order and return data both in sql and pandas 
5 . Try to find out how many unique customer that we have 
6 . try to find out in how many regions we are selling a product and who is a manager for a respective region 
7 . find out how many different differnet shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset 
8 . Create a new coulmn and try to find our a diffrence between order date and shipment date
9 . base on question number 8 find out for which order id we have shipment duration more than 10 days 
10 . Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well 
11 . Gorup by region and find out which region is more profitable 
12 . Try to find out overalll in which country we are giving more didscount 
13 . Give me a list of unique postal code 
14 . which customer segement is more profitalble find it out . 
15 . try to find out the 10th most loss making product catagory . 
16 . Try to find out 10 top  product with highest margins

SyntaxError: invalid syntax (Temp/ipykernel_15312/3413150266.py, line 2)

## 1 . Load this data in sql and in pandas with a relation in sql

In [9]:
# Importing libraries
import pandas as pd
import mysql.connector as conn
from sqlalchemy import engine

In [30]:
# Reading dataset with pandas
store_data = pd.ExcelFile("F:\Ineuron\DataSets\Superstore_USA.xlsx").parse()
store_data

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [4]:
# Reading data with myqsl
from sqlalchemy import create_engine

db = conn.connect(host="localhost", user="root", passwd="Akku43@123")
cur = db.cursor()
cur.execute("USE Store_USA")
cur.execute("CREATE TABLE IF NOT EXISTS Store_USA")
engine = create_engine('mysql+pymysql://root:8067@localhost/Store_USA')
store_data.to_sql('Store_USA', con=engine)

DatabaseError: 4028 (HY000): A table must have at least one visible column.

In [10]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     -------------------------------------- 43.8/43.8 kB 430.6 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

[notice] A new release of pip available: 22.1.2 -> 22.2.2
[notice] To update, run: python.exe -m pip install --upgrade pip

## 3 . Find out how return that we have recived and with a product id

In [13]:
store = pd.ExcelFile("F:\Ineuron\DataSets\Superstore_USA.xlsx") 
returns = pd.read_excel(store, 'Returns',names = ["OrderID","Status"])
returns

      OrderID    Status
0          65  Returned
1         612  Returned
2         614  Returned
3         678  Returned
4         710  Returned
...       ...       ...
1629   182681  Returned
1630   182683  Returned
1631   182750  Returned
1632   182781  Returned
1633   182906  Returned

[1634 rows x 2 columns]

In [38]:
# 4 . try  to join order and return data both in sql and pandas
store_data.rename(columns = {'Order ID' : 'OrderID'}, inplace = True)
pd.merge(returns, store_data)

# sql Command
# Select * from Store_data INNER JOIN store_data on store_data.OrderID = returns.OrderID

,OrderID,Status,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,...,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales
0,612,Returned,95,Medium,0.10,5.28,6.26,3011,Tammy Raynor,Regular Air,...,0.40,East,Massachusetts,Boston,2113,2013-10-20,2013-10-22,-166.290000,105,552.03
1,612,Returned,96,Medium,0.01,65.99,2.50,3011,Tammy Raynor,Regular Air,...,0.55,East,Massachusetts,Boston,2113,2013-10-20,2013-10-22,881.676000,90,5297.63
2,4610,Returned,653,Low,0.09,8.33,1.99,2548,Wayne Bass,Regular Air,...,0.52,West,California,Los Angeles,90068,2011-06-17,2011-06-19,-17.010000,12,100.32
3,4610,Returned,654,Low,0.08,15.67,1.39,2548,Wayne Bass,Regular Air,...,0.38,West,California,Los Angeles,90068,2011-06-17,2011-06-21,203.010000,44,678.72
4,7079,Returned,979,Medium,0.01,280.98,57.00,478,Michael Wiggins,Delivery Truck,...,0.78,East,New York,New York City,10177,2011-02-08,2011-02-09,-416.700000,44,12296.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,57638,Returned,8079,Low,0.09,217.85,29.10,699,Jenny Gold,Delivery Truck,...,0.68,West,California,Los Angeles,90041,2013-04-22,2013-04-27,-526.478095,35,5740.62
94,57638,Returned,8080,Low,0.07,11.48,5.43,699,Jenny Gold,Regular Air,...,0.36,West,California,Los Angeles,90041,2013-04-22,2013-04-24,78.890000,49,570.43
95,57638,Returned,8081,Low,0.08,2.08,2.56,699,Jenny Gold,Regular Air,...,0.55,West,California,Los Angeles,90041,2013-04-22,2013-04-24,-85.580000,49,100.08
96,59009,Returned,8251,Critical,0.02,30.98,17.08,2882,Andrew Gonzalez,Express Air,...,0.40,South,North Carolina,Charlotte,28206,2012-11-18,2012-11-20,-9.336600,65,2103.64
97,59937,Returned,8389,High,0.02,30.98,17.08,1733,Nina Horne Kelly,Regular Air,...,0.40,East,District of Columbia,Washington,20012,2010-12-28,2010-12-29,-32.280000,13,438.25

In [39]:
#5. Try to find out how many unique customer that we have
len(pd.unique(store_data['Customer ID']))

2703

In [41]:
#6. try to find out in how many regions we are selling a product and who is a manager for a respective region 
users = pd.read_excel(store, 'Users')
users

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

In [42]:
len(store_data['Region'].unique())

4

In [47]:
#7. find out how many different different shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset 
len(pd.unique(store_data['Ship Mode']))

3

In [48]:
mode = store_data['Ship Mode']
pd.Series(mode).value_counts()

Regular Air       7036
Delivery Truck    1283
Express Air       1107
Name: Ship Mode, dtype: int64

In [52]:
#8. Create a new coulmn and try to find our a diffrence between order date and shipment date
store_data["difference_date"] =  store_data['Ship Date'] - store_data['Order Date'] 
store_data

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,OrderID,difference_date
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525,2 days
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522,1 days
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,1 days
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,1 days
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,0 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532,1 days
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,0 days
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,2 days
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530,3 days
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533,2 days

In [57]:
#9. Based on Question number 8, find out for which order id we have shipment duration more than 10 days 
store_data[store_data['difference_date'].dt.components['days'] > 10]['OrderID']

643     87215
1548    86318
1549    86318
1678    87957
1679    87957
1680    87957
1697    19556
1698    19556
1699    19556
2515    86177
5548    88223
5673    88352
5859    87572
5881    91294
8607    86434
8609    86436
8610    86436
8973    87300
8982    19841
8983    19841
8993    19841
8996    87300
8997    87300
Name: OrderID, dtype: int64

In [58]:
#10. Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well 
concat_data = pd.concat([store_data,returns])

In [59]:
concat_data[(concat_data['difference_date'].dt.components['days']>15)]

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,OrderID,difference_date,Status
643,18246.0,Critical,0.05,11.09,5.25,250.0,Brenda Nelson Blanchard,Regular Air,Corporate,Office Supplies,...,Richfield,55423.0,2011-12-29,2012-03-22,58.5000,19.0,204.67,87215,84 days,NaN
1678,20703.0,Not Specified,0.07,130.98,30.00,637.0,Christopher Bryant,Delivery Truck,Consumer,Furniture,...,Santa Clara,95051.0,2011-12-30,2012-01-16,-211.8850,21.0,2699.94,87957,17 days,NaN
1680,20705.0,Not Specified,0.08,115.99,4.23,637.0,Christopher Bryant,Regular Air,Consumer,Technology,...,Santa Clara,95051.0,2011-12-30,2012-01-27,1021.4001,16.0,1480.29,87957,28 days,NaN
1697,2703.0,Not Specified,0.07,130.98,30.00,640.0,Neal Wolfe,Delivery Truck,Consumer,Furniture,...,Seattle,98119.0,2011-12-30,2012-01-16,-423.7700,83.0,10671.20,19556,17 days,NaN
1699,2705.0,Not Specified,0.08,115.99,4.23,640.0,Neal Wolfe,Regular Air,Consumer,Technology,...,Seattle,98119.0,2011-12-30,2012-01-27,727.3620,65.0,6013.69,19556,28 days,NaN
2515,18060.0,Low,0.02,2.21,1.00,964.0,Virginia Rivera,Regular Air,Home Office,Office Supplies,...,Redwood City,94061.0,2011-12-30,2012-03-31,5.8200,10.0,22.35,86177,92 days,NaN
5673,19005.0,Low,0.06,65.99,2.50,2088.0,Carrie Boyle,Regular Air,Corporate,Technology,...,Mount Vernon,10550.0,2011-12-28,2012-01-14,187.4880,8.0,451.34,88352,17 days,NaN
5859,24392.0,Low,0.05,29.89,1.99,2143.0,Lester Sawyer,Regular Air,Home Office,Technology,...,Fairfax,20151.0,2011-12-26,2012-01-17,4230.2001,12.0,344.16,87572,22 days,NaN
5881,21257.0,Low,0.05,7.99,5.03,2153.0,Anna Glenn,Regular Air,Home Office,Technology,...,Pasadena,91104.0,2011-12-26,2012-01-19,-23.4520,2.0,15.56,91294,24 days,NaN
8607,26351.0,Medium,0.00,8.32,2.38,3119.0,Jay Hubbard,Express Air,Corporate,Technology,...,Orlando,32839.0,2011-12-29,2012-01-16,-1075.3960,19.0,170.62,86434,18 days,NaN
8609,26350.0,Medium,0.07,180.98,55.24,3119.0,Jay Hubbard,Delivery Truck,Corporate,Office Supplies,...,Orlando,32839.0,2013-12-29,2014-01-15,-147.5180,25.0,4529.95,86436,17 days,NaN
8610,26352.0,Medium,0.06,4.20,2.26,3119.0,Jay Hubbard,Regular Air,Corporate,Office Supplies,...,Orlando,32839.0,2013-12-29,2014-01-17,-689.8738,2.0,9.64,86436,19 days,NaN
8973,20750.0,Low,0.06,125.99,8.08,3248.0,Earl Donnelly,Express Air,Corporate,Technology,...,Slidell,70458.0,2011-12-26,2012-01-14,2.4780,20.0,2180.31,87300,19 days,NaN
8982,2748.0,Low,0.03,11.97,5.81,3251.0,Peter Brooks,Regular Air,Corporate,Office Supplies,...,New York City,10112.0,2011-12-26,2012-01-22,-31.7400,31.0,388.52,19841,27 days,NaN
8983,2749.0,Low,0.08,195.99,4.20,3251.0,Peter Brooks,Regular Air,Corporate,Technology,...,New York City,10112.0,2011-12-26,2012-01-26,-557.9530,13.0,2092.05,19841,31 days,NaN
8993,2750.0,Low,0.06,125.99,8.08,3251.0,Peter Brooks,Express Air,Corporate,Technology,...,New York City,10112.0,2013-12-26,2014-01-14,1304.5590,86.0,9375.35,19841,19 days,NaN
8996,20748.0,Low,0.03,11.97,5.81,3252.0,Milton Harrell,Regular Air,Corporate,Office Supplies,...,Rotterdam,12306.0,2011-12-26,2012-01-22,-15.8700,8.0,100.26,87300,27 days,NaN
8997,20749.0,Low,0.08,195.99,4.20,3252.0,Milton Harrell,Regular Air,Corporate,Technology,...,Rotterdam,12306.0,2011-12-26,2012-01-26,-278.9765,3.0,482.78,87300,31 days,NaN

In [65]:
#11. Group by region and find out which region is most profitable 
store_data.groupby(['Region'])['Profit'].aggregate('count').reset_index().sort_values('Profit', ascending = False)

    Region  Profit
0  Central    2899
1     East    2289
3     West    2284
2    South    1954

In [66]:
#12. Try to find out overall in which country we are giving more discount 
[store_data[store_data['Discount']>0.1]['Region']]

[5990    Central
 5991    Central
 6000    Central
 8649    Central
 8661    Central
 Name: Region, dtype: object]

In [67]:
store_data.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'OrderID', 'difference_date'],
      dtype='object')

In [69]:
#13. Give me a list of unique postal code 
store_data['Postal Code'].unique()

array([60101, 98221, 91776, ..., 61832, 62521, 26554], dtype=int64)

In [70]:
#14 . which customer segement is more profitable find it out . 
store_data.groupby(['Customer Segment'])['Profit'].aggregate('count')

Customer Segment
Consumer          1894
Corporate         3375
Home Office       2316
Small Business    1841
Name: Profit, dtype: int64

In [72]:
#15. try to find out the 10th most loss making product catagory . 
store_data[store_data['Profit']<0].reset_index().sort_values('Profit', ascending = True).head(10).iloc[[9]]

,index,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,OrderID,difference_date
2387,4857,24251,High,0.05,3502.14,8.73,1796,Carlos Johnson,Delivery Truck,Corporate,...,California,San Francisco,94110,2013-03-23,2013-03-24,-7961.4309,1,3360.3,90778,1 days

In [74]:
#16. Try to find out 10 top  product with highest margins 
store_data.sort_values(['Product Base Margin'])['Product Name'].head(10)

2431              GBC DocuBind 200 Manual Binding Machine
8248       Peel & Seel® Recycled Catalog Envelopes, Brown
1515       Peel & Seel® Recycled Catalog Envelopes, Brown
5050       Peel & Seel® Recycled Catalog Envelopes, Brown
413                                           Accessory31
5034                          Prang Dustless Chalk Sticks
8308         Staples Brown Kraft Recycled Clasp Envelopes
8311     Storex DuraTech Recycled Plastic Frosted Binders
8318                                          Accessory31
1553    Adams Telephone Message Book w/Frequently-Call...
Name: Product Name, dtype: object